---
permalink: '/stylesheets/blog.css'
---

article.blog {
	h1, h2, h3, li, blockquote, p {
		font-family: 'Lora', serif;
	}
}

figure {
	@media print, screen and (min-width: 769px) {
		&.right {
			float: right;
			max-width: 300px;
			border: none;
			margin-left: 30px;
			padding: 10px;
			margin-right: -30px;
		}
		&.left {
			float: left;
			max-width: 300px;
			border: none;
			margin-right: 30px;
			padding: 10px;
			margin-left: -30px;
		}
	}
	@media print, screen and (min-width: 1200px) {
		&.right {
			max-width: 300px;
			margin-right: -100px;
		}
		&.left {
			max-width: 300px;
			margin-left: -100px;
		}
	}
}
