<footer>
  <div class="description">
    {% include description.html %}
  </div>

  <ul class="list-unstyled hidden">
    <li><a href="https://twitter.com/tmergulhao/"><i class="fa fa-twitter"></i> /tmergulhao</a></li>
    <li><a href="https://github.com/tmergulhao/"><i class="fa fa-github-alt"></i> /tmergulhao</a></li>
    <li><a href="https://www.facebook.com/tmergulhao/"><i class="fa fa-facebook-official"></i> /tmergulhao</a></li>
    <li><a href="https://instagram.com/tmergulhao/"><i class="fa fa-instagram"></i> /tmergulhao</a></li>
  </ul>
  <p><i class="fa fa-code"></i> <i class="fa fa-heart"></i> <i class="fa fa-github-alt"></i></p>
  <p class="hidden"><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
</footer>

<script src="/script.js"></script>
<script src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>
