<header class="clearfix">
  {% if page.type != "home" %}
    <h3>tmergulhao<a href="/{{ page.category }}">/{{ page.category }}</a><a href="/"><span class="back">↰</span></h3>
  {% else %}
    <h3></a>tmergulhao<a href="/"><span class="back">↰</span></h3>
  {% endif %}

  <hr>

  <nav>
    <ul class="categories list-unstyled">
    {% for category in site.categories %}
        <li><a href="/{{category | first | slugify}}/">
            /{{ category | first }}
            <span class="badge hidden">
            {{ category | last | size }}
            </span>
        </a></li>
    {% endfor %}
    </ul>
  </nav>
</header>
