<header class="clearfix">
  {% if page.type != "home" %}
    <a href="/">↰ voltar ao início</a>
    </br>
    <h3>tmergulhao<a href="/{{ page.categories }}">/{{ page.categories }}</a></h3>
  {% else %}
    <h3>tmergulhao</h3>
  {% endif %}
  <hr>

  <nav>

    <ul class="categories list-unstyled">
    {% for category in site.categories %}
        <li><a href="/{{category | first | slugify}}/">
            /{{ category | first }}
            <span class="badge hidden">
            {{ category | last | size }}
            </span>
        </a></li>
    {% endfor %}
    </ul>
  </nav>
</header>
